div[b-zfnviv3ubx],
span[b-zfnviv3ubx],
h1[b-zfnviv3ubx],
h2[b-zfnviv3ubx],
p[b-zfnviv3ubx],
a[b-zfnviv3ubx],
img[b-zfnviv3ubx],
strong[b-zfnviv3ubx],
ul[b-zfnviv3ubx],
li[b-zfnviv3ubx],
button[b-zfnviv3ubx] {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  position: relative;
}

*[b-zfnviv3ubx],
[b-zfnviv3ubx]:after,
[b-zfnviv3ubx]:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a[b-zfnviv3ubx],
button[b-zfnviv3ubx],
div[b-zfnviv3ubx] {
  outline: none;
}

ul[b-zfnviv3ubx] {
  list-style: none;
}

img[b-zfnviv3ubx] {
  border: none;
}

.wrap[b-zfnviv3ubx] {
  height: 100%;
  width: 1024px;
  margin: 0 auto;
  padding: 50px;
}

.ship[b-zfnviv3ubx] {
  background: url("../img/sprite.png") no-repeat;
}

/* typography */
body[b-zfnviv3ubx] {
  font: normal 18px SegoePrint;
  line-height: 24px;
  color: #4530af;
}

p[b-zfnviv3ubx] {
  margin-bottom: 10px;
}

.flex[b-zfnviv3ubx] {
  display: flex;
}

.battlefield[b-zfnviv3ubx] {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  background: url("../img/grid.png") repeat;
  transform: translateX(-2);
}

.outer[b-zfnviv3ubx] {
  margin-bottom: 21px;
  padding-left: 38px;
  transform: translateX(-40px);
}

.field[b-zfnviv3ubx] {
  width: 366px;
  height: 363px;
  flex-shrink: 0;
  position: relative;
  background: url("../img/bg_play_field.png") no-repeat;
}

.other-field[b-zfnviv3ubx] {
  margin-left: 31px;
}

.ships[b-zfnviv3ubx] {
  width: 330px;
  height: 330px;
  position: relative;
  left: 29px;
  top: 27px;
}

.ship[b-zfnviv3ubx] {
  height: 35px;
  position: absolute;
}

.vertical[b-zfnviv3ubx] {
  transform: rotate(90deg);
  transform-origin: 17.5px 17.5px;
}

.fourdeck[b-zfnviv3ubx] {
  width: 134px;
  background-position: 0 0;
}

.tripledeck[b-zfnviv3ubx] {
  width: 101px;
  background-position: -150px 0;
}

.doubledeck[b-zfnviv3ubx] {
  width: 68px;
  background-position: -270px 0;
}

.singledeck[b-zfnviv3ubx] {
  width: 35px;
  background-position: -360px 0;
}
