@page "/join"

@inject NavigationManager NavigationManager
@inject IGameService GameService

<PageTitle>Join game</PageTitle>

<link href="css/style.css" rel="stylesheet">

<div class="battlefield">
	<div class="welcome-text">
		<p>Присоединиться к игре</p>
	</div>

	<div class="start-page-buttons">
		<input class="form-control" type="text" placeholder="ID" @bind="GameId">
		<input class="form-control" type="text" placeholder="Username" @bind="Username">
		<input type="button" class="start_button" @onclick="(async () => await Join())" value="Присоединиться">
	</div>
</div>

@code
{
	private string GameId { get; set; } = "";
	private string Username { get; set; } = "";

	protected async override Task OnInitializedAsync()
	{
		GameService.CreateConnection("Receive", () => { });

		await GameService.ConnectToHub();
	}

	private async Task Join()
	{
		bool result = await GameService.JoinGame(GameId, Username);

		if (result)
		{
			NavigationManager.NavigateTo($"/play?GameId={GameId}&Username={Username}");
		}
	}
}