@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
h1,
h2,
p,
a,
img,
strong,
ul,
li,
button,
footer,
header {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  position: relative;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a,
button,
div {
  outline: none;
}
ul {
  list-style: none;
}
img {
  border: none;
}

html,
body,
.wrap {
  height: 100%;
}
.wrap {
  width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.ship,
.icon-field,
.btn-play {
  background: url("../img/sprite.png") no-repeat;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}
p {
  margin-bottom: 10px;
}

article {
    padding: 0 !important;
}

.btn-play {
  width: 144px;
  height: 45px;
  font-family: SegoePrint;
  font-size: 24px;
  line-height: 40px;
  color: #4530af;
  text-align: center;
  background-position: 0 -150px;
  cursor: pointer;
}
.btn-newgame {
  font-size: 19px;
  margin-top: 10px;
}

.flex {
  display: flex;
}

.battlefield {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
  background: url("../img/86867-2658256031.jpg") repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
}

.battlefield::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.4
}

.flex[b-zfnviv3ubx] {
    display: flex;
}

.outer[b-zfnviv3ubx] {
    margin-bottom: 21px;
    padding-left: 38px;
    transform: translateX(-40px);
}

.wrap[b-zfnviv3ubx] {
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    padding: 50px;
}

.battlefield-actual {
    width: 100%;
    height: 500px;
    position: relative;
    margin: 0 auto;
    padding: 40px;
    background: url("../img/grid.png") repeat;
    transform: translateX(-2);
}

.text-top {
  height: 66px;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  margin-bottom: 7px;
}
.service-row {
  text-align: center;
}
.service-text {
  color: #c00;
  padding-top: 10px;
}

.outer {
  margin-bottom: 21px;
  padding-left: 38px;
}
.field {
  width: 366px;
  height: 363px;
  flex-shrink: 0;
  position: relative;
  background: url("../img/bg_play_field.png") no-repeat;
}
.field-computer {
  margin-left: 31px;
}

.ships {
  width: 330px;
  height: 330px;
  position: relative;
  left: 29px;
  top: 27px;
}
.ship {
  height: 35px;
  position: absolute;
}

.vertical {
  transform: rotate(90deg);
  transform-origin: 17.5px 17.5px;
}

.fourdeck {
  width: 134px;
  background-position: 0 0;
}
.fourdeck.success {
  background-position: 0 -50px;
}
.fourdeck.unsuccess {
  background-position: 0 -100px;
}
.tripledeck {
  width: 101px;
  background-position: -150px 0;
}
.tripledeck.success {
  background-position: -150px -50px;
}
.tripledeck.unsuccess {
  background-position: -150px -100px;
}
.doubledeck {
  width: 68px;
  background-position: -270px 0;
}
.doubledeck.success {
  background-position: -270px -50px;
}
.doubledeck.unsuccess {
  background-position: -270px -100px;
}
.singledeck {
  width: 35px;
  background-position: -360px 0;
}
.singledeck.success {
  background-position: -360px -50px;
}
.singledeck.unsuccess {
  background-position: -360px -100px;
}

.instruction {
  margin-left: 26px;
  -webkit-user-select: none;
  user-select: none;
}
.type-placement-box {
  line-height: 34px;
  padding-bottom: 18px;
}
.type-placement-box .link {
  font-size: 20px;
  border-bottom: dashed 2px #4530af;
  cursor: pointer;
}

.initial-ships li {
  height: 35px;
  position: relative;
  overflow: hidden;
  margin-top: 31px;
}
.initial-ships .ship {
  left: 0;
  top: 0;
  float: left;
  cursor: move;
}
.initial-ships .tripledeck1 {
  left: 164px;
}
.initial-ships .tripledeck2 {
  left: 297px;
}
.initial-ships .doubledeck2 {
  left: 99px;
}
.initial-ships .doubledeck3 {
  left: 197px;
}
.initial-ships .singledeck2 {
  left: 65px;
}
.initial-ships .singledeck3 {
  left: 131px;
}
.initial-ships .singledeck4 {
  left: 197px;
}

.icon-field {
  width: 33px;
  height: 33px;
  display: block;
  position: absolute;
  z-index: 5;
}
.dot {
  background-position: -410px 0;
}
.red-cross {
  background-position: -410px -50px;
}
.shaded-cell {
  background-position: -410px -100px;
}
.shaded-cell_red {
  background-position: -410px -140px;
}
.explosion {
  background-position: -150px -150px;
  z-index: 6;
  opacity: 0;
  transform: scale(0.2);
}

@keyframes Explosion {
  0% {
    opacity: 0;
    transform: scale(0.2);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
  }
}
.explosion.active {
  animation-name: Explosion;
  animation-duration: 0.4s;
  transform: scale(1);
}

.welcome-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 50px;
  text-align: center;
  padding: 50px;
  background-color: #ffffff;
  color: #000000;
  box-shadow: 0 0 50px rgba(0 ,0, 0, .1)
}

    .welcome-text p {
        transform: translateY(5px)
    }

    .start-page-buttons {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

.start_button {
    border: none;
    height: 90px;
    width: 500px;
    background-color: #ffffff;
    box-shadow: 0 0 30px rgba(0, 0, 0, .1);
    color: black;
    transition: .2s transform ease-in-out, .3s background-color ease-in-out, .2s color ease-in-out;
    font-size: 20px;
    font-family: "Roboto", serif;
    transform-origin: center;
    text-transform: uppercase;
    font-weight: 700;
    font-weight: 700;
    margin-bottom: 20px;
    border-radius: 16px;
    cursor: pointer;
}
.start_button:hover {
  transform: scale(1.1);
  background-color: black;
  color: white;
}

input[type="text"] {
  height: 80px;
  border-radius: 10px;
  font-size: 30px;
  border: none;
  padding-left: 20px;
  margin-bottom: 10px;
}

.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
  box-shadow: 9999px 0 0 -5px;
  animation: dot-pulse 1.5s infinite linear;
  animation-delay: 0.25s;
}
.dot-pulse::before,
.dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #9880ff;
  color: #9880ff;
}
.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px;
  animation: dot-pulse-before 1.5s infinite linear;
  animation-delay: 0s;
}
.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px;
  animation: dot-pulse-after 1.5s infinite linear;
  animation-delay: 0.5s;
}

@keyframes dot-pulse-before {
  0% {
    box-shadow: 9984px 0 0 -5px;
  }
  30% {
    box-shadow: 9984px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px;
  }
}
@keyframes dot-pulse {
  0% {
    box-shadow: 9999px 0 0 -5px;
  }
  30% {
    box-shadow: 9999px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px;
  }
}
@keyframes dot-pulse-after {
  0% {
    box-shadow: 10014px 0 0 -5px;
  }
  30% {
    box-shadow: 10014px 0 0 2px;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px;
  }
}

.users-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.users {
    display: block;
  font-size: 30px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  margin-bottom: 10px
}

    .users p {
        margin: 0;
    }

@keyframes Like {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.boat {
  animation-name: Like;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

div[b-107ts1js76],
span[b-107ts1js76],
h1[b-107ts1js76],
h2[b-107ts1js76],
p[b-107ts1js76],
a[b-107ts1js76],
img[b-107ts1js76],
strong[b-107ts1js76],
ul[b-107ts1js76],
li[b-107ts1js76],
button[b-107ts1js76] {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    position: relative;
}

*[b-107ts1js76],
[b-107ts1js76]:after,
[b-107ts1js76]:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a[b-107ts1js76],
button[b-107ts1js76],
div[b-107ts1js76] {
    outline: none;
}

ul[b-107ts1js76] {
    list-style: none;
}

img[b-107ts1js76] {
    border: none;
}

.wrap[b-107ts1js76] {
    height: 100%;
    width: 1024px;
    margin: 0 auto;
    padding: 20px;
}

.ship[b-107ts1js76],
.icon-field[b-107ts1js76],
.btn-play[b-107ts1js76] {
    background: url("../img/sprite.png") no-repeat;
}

body[b-107ts1js76] {
    font: normal 18px SegoePrint;
    line-height: 24px;
    color: #4530af;
}

p[b-107ts1js76] {
    margin-bottom: 10px;
}

.btn-play[b-107ts1js76] {
    width: 144px;
    height: 45px;
    font-family: SegoePrint;
    font-size: 24px;
    line-height: 40px;
    color: #4530af;
    text-align: center;
    background-position: 0 -150px;
    cursor: pointer;
}

.btn-newgame[b-107ts1js76] {
    font-size: 19px;
    margin-top: 10px;
}

.flex[b-107ts1js76] {
    display: flex;
}

.battlefield[b-107ts1js76] {
    width: 100%;
    height: 700px;
    position: relative;
    margin: 0 auto;
    background: url("../img/grid.png") repeat;
}

.text-top[b-107ts1js76] {
    height: 66px;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 7px;
}

.service-row[b-107ts1js76] {
    text-align: center;
}

.service-text[b-107ts1js76] {
    color: #c00;
    padding-top: 10px;
}

.outer[b-107ts1js76] {
    margin-bottom: 21px;
    padding-left: 38px;
}

.field[b-107ts1js76] {
    width: 366px;
    height: 363px;
    flex-shrink: 0;
    position: relative;
    background: url("../img/bg_play_field.png") no-repeat;
}

.field-computer[b-107ts1js76] {
    margin-left: 31px;
}

.ships[b-107ts1js76] {
    width: 330px;
    height: 330px;
    position: relative;
    left: 29px;
    top: 27px;
}

.ship[b-107ts1js76] {
    height: 35px;
    position: absolute;
}

.vertical[b-107ts1js76] {
    transform: rotate(90deg);
    transform-origin: 17.5px 17.5px;
}

.fourdeck[b-107ts1js76] {
    width: 134px;
    background-position: 0 0;
}

.fourdeck.success[b-107ts1js76] {
    background-position: 0 -50px;
}

.fourdeck.unsuccess[b-107ts1js76] {
    background-position: 0 -100px;
}

.tripledeck[b-107ts1js76] {
    width: 101px;
    background-position: -150px 0;
}

.tripledeck.success[b-107ts1js76] {
    background-position: -150px -50px;
}

.tripledeck.unsuccess[b-107ts1js76] {
    background-position: -150px -100px;
}

.doubledeck[b-107ts1js76] {
    width: 68px;
    background-position: -270px 0;
}

.doubledeck.success[b-107ts1js76] {
    background-position: -270px -50px;
}

.doubledeck.unsuccess[b-107ts1js76] {
    background-position: -270px -100px;
}

.singledeck[b-107ts1js76] {
    width: 35px;
    background-position: -360px 0;
}

.singledeck.success[b-107ts1js76] {
    background-position: -360px -50px;
}

.singledeck.unsuccess[b-107ts1js76] {
    background-position: -360px -100px;
}

.instruction[b-107ts1js76] {
    margin-left: 26px;
    -webkit-user-select: none;
    user-select: none;
}

.type-placement-box[b-107ts1js76] {
    line-height: 34px;
    padding-bottom: 18px;
}

.type-placement-box .link[b-107ts1js76] {
    font-size: 20px;
    border-bottom: dashed 2px #4530af;
    cursor: pointer;
}

.initial-ships li[b-107ts1js76] {
    height: 35px;
    position: relative;
    overflow: hidden;
    margin-top: 31px;
}

.initial-ships .ship[b-107ts1js76] {
    left: 0;
    top: 0;
    float: left;
    cursor: move;
}

.initial-ships .tripledeck1[b-107ts1js76] {
    left: 164px;
}

.initial-ships .tripledeck2[b-107ts1js76] {
    left: 297px;
}

.initial-ships .doubledeck2[b-107ts1js76] {
    left: 99px;
}

.initial-ships .doubledeck3[b-107ts1js76] {
    left: 197px;
}

.initial-ships .singledeck2[b-107ts1js76] {
    left: 65px;
}

.initial-ships .singledeck3[b-107ts1js76] {
    left: 131px;
}

.initial-ships .singledeck4[b-107ts1js76] {
    left: 197px;
}