/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-tmopy668it] {
  position: relative;
  display: flex;
  flex-direction: column;
}

main[b-tmopy668it] {
  flex: 1;
}

.sidebar[b-tmopy668it] {
  background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tmopy668it] {
  background-color: #f7f7f7;
  border-bottom: 1px solid #d6d5d5;
  justify-content: flex-end;
  height: 3.5rem;
  display: flex;
  align-items: center;
}

.top-row[b-tmopy668it]  a,
.top-row[b-tmopy668it]  .btn-link {
  white-space: nowrap;
  margin-left: 1.5rem;
  text-decoration: none;
}

.top-row[b-tmopy668it]  a:hover,
.top-row[b-tmopy668it]  .btn-link:hover {
  text-decoration: underline;
}

.top-row[b-tmopy668it]  a:first-child {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
  .top-row:not(.auth)[b-tmopy668it] {
    display: none;
  }

  .top-row.auth[b-tmopy668it] {
    justify-content: space-between;
  }

  .top-row[b-tmopy668it]  a,
  .top-row[b-tmopy668it]  .btn-link {
    margin-left: 0;
  }
}

@media (min-width: 641px) {
  .page[b-tmopy668it] {
    flex-direction: row;
  }

  .sidebar[b-tmopy668it] {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
  }

  .top-row[b-tmopy668it] {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  .top-row.auth[b-tmopy668it]  a:first-child {
    flex: 1;
    text-align: right;
    width: 0;
  }

  .top-row[b-tmopy668it],
  article[b-tmopy668it] {
    padding-left: 2rem !important;
    padding-right: 1.5rem !important;
  }
}
/* /Pages/CreateGame.razor.rz.scp.css */
p[b-s8b324c4jg] {
  margin-bottom: 10px;
}

.battlefield[b-s8b324c4jg] {
  width: 100%;
  height: 700px;
  position: relative;
  margin: 0 auto;
  background: url("../img/grid.png") repeat;
}

.welcome-text[b-s8b324c4jg] {
  font-family: serif;
  font-size: 50px;
  text-align: center;
  height: 200px;
  padding-top: 100px;
}

.start-page-buttons[b-s8b324c4jg] {
  height: 400px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.start_button[b-s8b324c4jg] {
  height: 90px;
  width: 100%;
  background-color: lightblue;
  color: black;
  transition: width 2s, 4s;
  transition-property: background-color, font-size, color;
  border-radius: 20px;
  font-size: 20px;
  font-family: Serif, cursive;
}

.start_button:hover[b-s8b324c4jg] {
  background-color: royalblue;
  font-size: 25px;
  color: whitesmoke;
}

input[type="text"][b-s8b324c4jg] {
  height: 80px;
  border-radius: 10px;
  font-size: 30px;
  padding-left: 15px;
}
/* /Pages/Home.razor.rz.scp.css */
p[b-mlpx6l4j4s] {
  margin-bottom: 10px;
}

.battlefield[b-mlpx6l4j4s] {
  width: 100%;
  height: 700px;
  position: relative;
  margin: 0 auto;
  background: url("../img/grid.png") repeat;
}

.welcome-text[b-mlpx6l4j4s] {
  font-family: serif;
  font-size: 50px;
  text-align: center;
  height: 200px;
  padding-top: 100px;
}

.start-page-buttons[b-mlpx6l4j4s] {
  height: 400px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.start_button[b-mlpx6l4j4s] {
  height: 90px;
  width: 100%;
  background-color: lightblue;
  color: black;
  transition: width 2s, 4s;
  transition-property: background-color, font-size, color;
  border-radius: 20px;
  font-size: 20px;
  font-family: Serif, cursive;
}

.start_button:hover[b-mlpx6l4j4s] {
  background-color: royalblue;
  font-size: 25px;
  color: whitesmoke;
}
/* /Pages/JoinGame.razor.rz.scp.css */
p[b-h8gvl8un4w] {
  margin-bottom: 10px;
}

.battlefield[b-h8gvl8un4w] {
  width: 100%;
  height: 700px;
  position: relative;
  margin: 0 auto;
  background: url("../img/grid.png") repeat;
}

.welcome-text[b-h8gvl8un4w] {
  font-family: serif;
  font-size: 50px;
  text-align: center;
  height: 200px;
  padding-top: 100px;
}

.start-page-buttons[b-h8gvl8un4w] {
  height: 400px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.start_button[b-h8gvl8un4w] {
  height: 90px;
  width: 100%;
  background-color: lightblue;
  color: black;
  transition: width 2s, 4s;
  transition-property: background-color, font-size, color;
  border-radius: 20px;
  font-size: 20px;
  font-family: Serif, cursive;
}

.start_button:hover[b-h8gvl8un4w] {
  background-color: royalblue;
  font-size: 25px;
  color: whitesmoke;
}

input[type="text"][b-h8gvl8un4w] {
  height: 80px;
  border-radius: 10px;
  font-size: 30px;
  padding-left: 15px;
}
/* /Pages/PlayGame.razor.rz.scp.css */
div[b-zfnviv3ubx],
span[b-zfnviv3ubx],
h1[b-zfnviv3ubx],
h2[b-zfnviv3ubx],
p[b-zfnviv3ubx],
a[b-zfnviv3ubx],
img[b-zfnviv3ubx],
strong[b-zfnviv3ubx],
ul[b-zfnviv3ubx],
li[b-zfnviv3ubx],
button[b-zfnviv3ubx] {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  position: relative;
}

*[b-zfnviv3ubx],
[b-zfnviv3ubx]:after,
[b-zfnviv3ubx]:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a[b-zfnviv3ubx],
button[b-zfnviv3ubx],
div[b-zfnviv3ubx] {
  outline: none;
}

ul[b-zfnviv3ubx] {
  list-style: none;
}

img[b-zfnviv3ubx] {
  border: none;
}

.wrap[b-zfnviv3ubx] {
  height: 100%;
  width: 1024px;
  margin: 0 auto;
  padding: 50px;
}

.ship[b-zfnviv3ubx] {
  background: url("../img/sprite.png") no-repeat;
}

/* typography */
body[b-zfnviv3ubx] {
  font: normal 18px SegoePrint;
  line-height: 24px;
  color: #4530af;
}

p[b-zfnviv3ubx] {
  margin-bottom: 10px;
}

.flex[b-zfnviv3ubx] {
  display: flex;
}

.battlefield[b-zfnviv3ubx] {
  width: 100%;
  height: 500px;
  position: relative;
  margin: 0 auto;
  padding: 40px;
  background: url("../img/grid.png") repeat;
  transform: translateX(-2);
}

.outer[b-zfnviv3ubx] {
  margin-bottom: 21px;
  padding-left: 38px;
  transform: translateX(-40px);
}

.field[b-zfnviv3ubx] {
  width: 366px;
  height: 363px;
  flex-shrink: 0;
  position: relative;
  background: url("../img/bg_play_field.png") no-repeat;
}

.other-field[b-zfnviv3ubx] {
  margin-left: 31px;
}

.ships[b-zfnviv3ubx] {
  width: 330px;
  height: 330px;
  position: relative;
  left: 29px;
  top: 27px;
}

.ship[b-zfnviv3ubx] {
  height: 35px;
  position: absolute;
}

.vertical[b-zfnviv3ubx] {
  transform: rotate(90deg);
  transform-origin: 17.5px 17.5px;
}

.fourdeck[b-zfnviv3ubx] {
  width: 134px;
  background-position: 0 0;
}

.tripledeck[b-zfnviv3ubx] {
  width: 101px;
  background-position: -150px 0;
}

.doubledeck[b-zfnviv3ubx] {
  width: 68px;
  background-position: -270px 0;
}

.singledeck[b-zfnviv3ubx] {
  width: 35px;
  background-position: -360px 0;
}
/* /Pages/Results.razor.rz.scp.css */
html[b-e3f6mjjtbv],
body[b-e3f6mjjtbv],
div[b-e3f6mjjtbv],
span[b-e3f6mjjtbv],
h1[b-e3f6mjjtbv],
h2[b-e3f6mjjtbv],
p[b-e3f6mjjtbv],
a[b-e3f6mjjtbv],
img[b-e3f6mjjtbv],
strong[b-e3f6mjjtbv],
ul[b-e3f6mjjtbv],
li[b-e3f6mjjtbv],
button[b-e3f6mjjtbv],
footer[b-e3f6mjjtbv],
header[b-e3f6mjjtbv] {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  position: relative;
}

*[b-e3f6mjjtbv],
[b-e3f6mjjtbv]:after,
[b-e3f6mjjtbv]:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a[b-e3f6mjjtbv],
button[b-e3f6mjjtbv],
div[b-e3f6mjjtbv] {
  outline: none;
}

ul[b-e3f6mjjtbv] {
  list-style: none;
}

img[b-e3f6mjjtbv] {
  border: none;
}

html[b-e3f6mjjtbv],
body[b-e3f6mjjtbv],
.wrap[b-e3f6mjjtbv] {
  height: 100%;
}

body[b-e3f6mjjtbv] {
  font: normal 18px SegoePrint;
  line-height: 24px;
  color: #4530af;
}

p[b-e3f6mjjtbv] {
  margin-bottom: 10px;
}

.battlefield[b-e3f6mjjtbv] {
  width: 100%;
  height: 700px;
  position: relative;
  margin: 0 auto;
  background: url("../img/grid.png") repeat;
}

.welcome-text[b-e3f6mjjtbv] {
  font-family: serif;
  font-size: 50px;
  text-align: center;
  height: 200px;
  padding-top: 100px;
}

.start-page-buttons[b-e3f6mjjtbv] {
  height: 400px;
  width: 400px;
  margin: auto;
  position: absolute;
  top: 25%;
  left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.start_button[b-e3f6mjjtbv] {
  height: 90px;
  width: 100%;
  background-color: lightblue;
  color: black;
  transition: width 2s, 4s;
  transition-property: background-color, font-size, color;
  border-radius: 20px;
  font-size: 20px;
  font-family: Serif, cursive;
  transform: translateX(-85px);
}

.start_button:hover[b-e3f6mjjtbv] {
  background-color: royalblue;
  font-size: 25px;
  color: whitesmoke;
}

.users-block[b-e3f6mjjtbv] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.users[b-e3f6mjjtbv] {
  padding-left: 15px;
  font-size: 30px;
  font-weight: bold;
}
